<!DOCTYPE html>
<html>
<head lang="en">
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/images/favicon.ico" rel="shortcut icon">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>

    <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jsencrypt.min.js"></script>
    <script src="/javascripts/search.js"></script>
    <style>
        .p-result-desc b {
            color: red;
            font-weight: normal;
        }
        .p-result-desc {
            font-size: 14px;
        }
        .active a {
            cursor: default;
        }
        .small-link {
            color: green;
        }
        h6 {
            margin-bottom: 0.05rem;
            margin-top: 0.2rem;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/images/googlelogo_color_120x44dp.png" width="120" height="44">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <form class="form-inline my-2 my-lg-0 input-group" style="max-width: 600px;">
                <input type="text" class="form-control" id="input-search-text">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn-search">Go</button>
                </div>
            </form>
        </div>
    </nav>
    <div class="container">
        <p style="color: grey">
            <small>
                找到约 <%- result.searchInformation.formattedTotalResults %> 条结果
                (用时<%- result.searchInformation.formattedSearchTime %>秒)
            </small>
        </p>
        <% for (var i = 0, l = result.items.length; i < l; i++) { %>
        <div class="row">
            <div class="col-md-7">
                <h6>
                    <a href="<%- result.items[i].link %>" target="_blank">
                        <%- result.items[i].title %>
                    </a>
                </h6>
                <small class="small-link">
                    <% if (result.items[i].formattedUrl.length > 80) {%>
                        <%- result.items[i].formattedUrl.substring(0, 80) + '...' %>
                    <% } else { %>
                        <%- result.items[i].formattedUrl %>
                    <% } %>
                </small>
                <p class="p-result-desc">
                    <%- result.items[i].htmlSnippet %>
                </p>
            </div>
        </div>
        <% } %>

        <% if (result.paging.showPagingBar) { %>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <% if (result.paging.showPrevPage) { %>
                        <li class="page-item">
                            <a class="page-link" href="/search?id=<%- encodeURIComponent(result.id) %>&start=<%- (result.paging.currentPageIndex - 2) * 10 + 1 %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    <% } else { %>
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    <% } %>


                    <% for (var i = 0, l = result.paging.pages.length; i < l; i++) { %>
                        <% if (result.paging.pages[i].label == result.paging.currentPageIndex) { %>
                            <li class="page-item active">
                                <a class="page-link" href="#" onclick="return false">
                                    <%- result.paging.pages[i].label %>
                                </a>
                            </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link" href="/search?id=<%- encodeURIComponent(result.id) %>&start=<%- result.paging.pages[i].start %>">
                                    <%- result.paging.pages[i].label %>
                                </a>
                            </li>
                        <% } %>
                    <% } %>

                    <% if (result.paging.showNextPage) { %>
                        <li class="page-item">
                            <a class="page-link" href="/search?id=<%- encodeURIComponent(result.id) %>&start=<%- result.paging.currentPageIndex * 10 + 1 %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    <% } else { %>
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        <% } %>
    </div>
</body>
</html>
